body {
    background-color: #0f121f;
    background-image: url(/static/stars.png);
    background-repeat-y: no-repeat;
    color: #fff;
}

body * {
    font-family: monospace;
}

a,
a:hover,
a:visited {
    color: #fff;
    text-decoration: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

div.weapper h1 {
    text-align: center;
    margin: 100px auto;
    font-size: 2.4em;
}

header {
    display: grid;
    grid_tempalte-columns: 1fr 1fr;
    padding: 20px 0;
}

nav {
    justify-self: end;
}

nav li {
    display: inline-block;
    margin-ñeft: 20px;
}

nav button {
    background: none;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 1em;
}

.games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    border-radius: 5px;
}

.game {
    padding: 10px;
    border: 1px solid #00dba0;
    position: relative;
    padding-bottom: 40px;
    border-radius: 13px;
}

.game h2 {
    font-size: 1.2em;
}

.game .developer {
    background: #005b43;
    padding: 10px;
    position: absolute;
    right: 0px;
    bottom: 0;
    margin: 0;
    border-radius: 5px;
}

.game-detail .game {
    padding: 0;
}

.game-detail .game img {
    max-width: 100%;
    border-radius: 17px;
}

.game-detail .game h1 {
    text-align: center;
}

.game-detail .game p {
    text-align: center;
}

.site-form {
    margin-top: 60px;
    border: 1px solid #005b43;
    padding: 20px;
}

.site-form input,
.site-form textarea {
    display: block;
    margin: 10px 0 19px 0;
    padding: 10px;
}

a.highlight {
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 5px;
    color: #00dba0;
}

.helptext,
.helptext ul {
    margin: -20px auto 20px;
    color: #4aff75e0;
    font-size: 0.9em;
    display: block;
}

.errorlist li {
    padding: 10px;
    list-style-type: none;
    border: 1px solid #ff5722;
    color: #ff5722;
    margin: 10px 0
}

.errorlist {
    padding: 0;
}

.site-form input[type="submit"] {
    background: #005b43;
    border: 0;
    color: #fff;
    font-size: 1.2em;
    border-radius: 5px;
    padding: 5px;
}